.phoneConfirmContainer {
  padding: 3em 1.7em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f2f0e4;
  position: relative;
}
.backBtn {
  position: absolute;
  top: 10px;
  left: 10px;
}
.backBtn img {
  width: 20px;
}
.phoneConfirmContainer h1 {
  font-size: 1.5em;
  font-weight: 500;
  font-style: normal;
  margin: 0.25em 0;
  columns: var(--textColor);
}
.phoneConfirmContainer p {
  font-size: 0.775em;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  width: 100%;
  max-width: 270px;
  text-align: center;
  justify-content: space-evenly;
}
.phoneConfirmContainer p span {
  font-weight: 500;
}

.customBtn {
  /* Your custom styles for the button */
  background-color: #3278b7;
  color: #fff;
  border-radius: 2em;
  padding: 0.5em 01.5em;
  font-size: 1.2em;
  font-weight: 500;
  font-style: normal;
  text-align: center;
  text-decoration: none;
  margin-top: 1em;
}
.customBtn > img {
  width: 20px;
  margin-left: 8px;
}

/*PhoneConfirmation css ends here */
/*CodeConfirm css starts from below here */

.notificationContainer {
  margin-top: 2em;
  background-color: #fff;
  border-radius: 1em;
  box-shadow: 0px 0px 5px #ccc;
}
.notificationContainer h3 {
  font-size: 1.2em;
  color: #000;
  font-weight: 500;
  width: 100%;
  margin: auto;
  margin-bottom: 0.3em;
}
.notificationContainer P {
  font-size: 0.825em;
  font-weight: 500;
  line-height: 1.3;
  margin: auto;
}

.action_btn {
  position: relative;
}
.action_btn a {
  display: inline-block;
  width: 50%;
  padding: 0.5em;
  border-top: 1px solid #ccc;
  color: #3278b7;
}
.action_btn a:first-child {
  border-right: 1px solid #ccc;
}
.hand_icon {
  width: 50px;
  position: absolute;
  right: 75px;
  bottom: -70px;
}
