.WelcomeContainer {
  padding: 3em 1.8em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  height: 100vh;
  background-color: #f2f0e4;
  text-align: justify;
}
.WelcomeContainer h1 {
  font-size: 1.7em;
  font-weight: 500;
  font-style: normal;
  margin-bottom: 0;
  color: var(--textColor);
}
.WelcomeInfo {
  height: 253px;
  overflow: auto;
}
.WelcomeInfo p {
  margin-bottom: 2em;
  color: var(--textColor);
  font-size: 1em;
  font-weight: 400;
  font-style: normal;
  padding-right: 1em;
}
.actionBtn {
  align-self: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.actionBtn > a:last-child {
  color: var(--btnColor);
  font-size: 0.875em;
  font-weight: 400;
  font-style: normal;
}
.actionBtn > a:first-child {
  text-decoration: none;
  color: var(--textColor);
  background-color: #7db9ed;
  border-radius: 2em;
  padding: 0.5em 1.5em;
  font-size: 1.2em;
  font-weight: 500;
  font-style: normal;
  text-align: center;
}
